.taskWrapper {
  display: flex;
  align-items: center;
  padding: 0.625rem;
  gap: 0.75rem;
  justify-content: space-between;
}

p {
  color: var(--gray-100);
}

.checkbtn {
  color: var(--blue);
  background-color: var(--gray-600);
  border-style: none;
}

.trashbtn {
  color: var(--gray-300);
  background-color: var(--gray-600);
  border-style: none;
}

.check {
  border-radius: 100%;
  background-color: var(--gray-100);
}

.paragraphCkeched {
  text-decoration: line-through;
  color: var(--gray-300);
}

.paragraph{
  color: var(--gray-100);
}

.taskContent {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}